Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.log
config.status
configure
libtool
m4/*
*.pyc
core
mi_mobile_offline
mi_mobile_online
mi_mobile_control
smrinc_robotino_run_generator
*.swp
*.swo
python/Feedback/build/
